.busqueda {
    margin-top: 85px;
    padding-top: 50px;
    background-color: #747474;
    text-align: center;
    height: 100vh;
}
.no-encontrado {
    width: 500px;
    height: 600px;
    background: url("../../img/Fruta2.png") no-repeat bottom;
    display: block;
    margin: auto;
}
