.carta{
    display: inline-table;
    padding: 10px 20px 10px 20px;
    margin: 30px;
    width:20em;
    height:30em;
    background-color:#242323;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.carta:hover{
    background-color:#111111;
}
.card-img{
    display: block;
    width: 300px;
}
.card-img img{
    margin-bottom: 10px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.card-img h1{
    font-size:2em;
    color:#fff;
}
.card-description{
    background:rgb(24, 24, 24);
    color: aliceblue;
    padding:10px;
    margin-top:15px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
.card-diet p{
    display: inline;
    margin: 10px;
}