.busqueda{
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.boton{
    background-color:  rgba(0, 0, 0, .03);
    color: #198754;
    border-radius: 8px;
    border:1px solid #198754 ;
}

.boton:hover{
    color: #fff;
    background-color: #198754;
}